<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

## Notebook

### This cell is created for Introduction

### List of all Data science Language:   
1. Python
2. R
3. C++
etc

### List of Data science Libraries
1. Pandas
2. Matplotlib
3. Nummy
4. GGplot
5. Etc

### list of Data science Tools
1. Python
2. R
3. Jupyter Notebooks
4. RStudio
5. Anaconda
6. TensorFlow
7. PyTorch
8. Tableau
9. Apache Spark
10. KNIME

## Arithimatic Expression Example

In [14]:
x= 2
y= 10
sum=(x+y)
sum

12

In [13]:
multiply= (x**y)
multiply

1024

### Code to convert Minutes into Hours

In [27]:
x= int(input("Enter Minutes:"))
y= (x/60)
z= (x,"Mins are", y ,"Hours")
z
#print(x,"minutes are", y, "hours")

Enter Minutes: 89

(89, 'Mins are', 1.4833333333333334, 'Hours')

### Objective of the Course

In [ ]:
objectives are as follows
1.